<div class="notification is-link  is-light">
  Récapitulatif de la saisie client
</div>
<table class="table is-bordered is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Civilité</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Pays</th>
      <th>Adresse</th>
      <th>Code Postal</th>
      <th>Ville</th>
      <th>Telephone</th>
      <th>Email</th>
      <th>Login</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{client.civilite}}</td>
      <td>{{client.prenom}}</td>
      <td>{{client.nom}}</td>
      <td>{{client.pays}}</td>
      <td>{{client.adresse}}</td>
      <td>{{client.cp}}</td>
      <td>{{client.ville}}</td>
      <td>{{client.tel}}</td>
      <td>{{client.email}}</td>
      <td>{{client.login}}</td>
      <td>{{client.password}}</td>
    </tr>
  </tbody>
</table>